<p-table [value]="data" [tableStyle]="{ 'min-width': '30rem' }" [styleClass]="'p-datatable-sm'">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td>{{ element.name }}</td>
            <td>{{ element.amount | currency }}</td>
            <td>{{ element.date | date }}</td>
        </tr>
    </ng-template>
</p-table>