<section class="dashboard-section">
    <h1 class="dashboard-title">Dashboard</h1>
    <ul class="dashboard-grid">
        <p-card class="card-salary" header="Salary">
            <p>{{ salary | number}}</p>
        </p-card>
        <p-card class="card-savings" header="Savings">
            <p>{{ savings | number}}</p>
        </p-card>
        <p-card class="card-date" header="Date">
            <p>{{ date | date }}</p>
        </p-card>
        <p-card class="card-expenses" header="Expenses">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam fugiat explicabo hic ad nesciunt veritatis, earum ab tempora blanditiis neque. Optio, harum labore aliquam incidunt non consectetur dignissimos maxime!</p>
        </p-card>
        <p-card class="card-incomes" header="Incomes">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam fugiat explicabo hic ad nesciunt veritatis, earum ab tempora blanditiis neque. Optio, harum labore aliquam incidunt non consectetur dignissimos maxime!</p>
        </p-card>
    </ul>
</section>
