/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', 'Lucida Sans' !important;

    /* Color variables */
    --color-primary: #3B82F6;
    --color-secundary: #ACB8EF;
    --color-tertiary: #E8EFFF;

    --color-bg: #F8FAFC;

    /* border */
    --color-border: #E2E8F0;

}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

app-home {
    display: block;
    height: calc(100% - 64px);
}

td {
    font-size: 14px;
}

/* Container and title modules */
.module-section {
    padding-left: 32px;
    padding-right: 32px;
}

.module-title {
    margin: 0;
    font-size: 24px;
}

/* Sections modules (form) styles */
.section-form {
    width: 100%;
    padding: 18px 12px;
    margin-top: 24px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.container-principal-info {
    display: flex;
    gap: 24px;
}

.container-field-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-form {
    font-size: 14px;
    font-weight: 400;
}

.small-form {
    font-weight: 200;
}

.section-table {
    width: 100%;
    padding: 18px 12px;
    margin-top: 24px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.container-buttons-form {
    display: flex;
    justify-content: center;
    align-items: center;
}